## <addr>:<port> to listen on for HTTP/HTTPS clients
http_address = "0.0.0.0:4180"

## the OAuth Redirect URL.
# defaults to the "https://" + requested host header + "/oauth2/callback"

email_domains = [
    "edu.teu.ac.jp"
]

## the http url(s) of the upstream endpoint. If multiple, routing is based on path
upstreams = [
    "http://svc-ecoman:3301/"
]

## The OAuth Client ID, Secret
client_id = "xxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com"
client_secret = "xxxxxxxxxxxxxxxxxx"

cookie_secret = "FU7zqdPPK1iYzdazHDCSIg=="
cookie_secure = false
cookie_httponly = true

# authenticated_emails_file = ""
skip_provider_button = true
