{% include "_header.html" %}

<h2>Power:</h2>

<table border=1>
<tr>
  <th>Current Status</th>
  <td><span id="current_power">{{ detail.get('vim.vm.Summary').get('runtime').get('powerState') }}</span></td>
</tr>
<tr>
  <th>Change Status</th>
  <td>
    <select id="power_state">
      <option value="on">ON</option>
      <option value="off">OFF</option>
      <option value="reset">RESET</option>
      <option value="reboot">REBOOT</option>
      <option value="shutdown">SHUTDOWN</option>
      <option value="suspend">SUSPEND</option>
    </select>
    <button id="commit">Commit</button>
    <p id="message"></p>
  </td>
</tr>
</table>

<h2>Detail:</h2>
<table>
<tr>
  <td>VM Health Status</td>
  <td>{{ detail.get('vim.vm.Summary').get('overallStatus') }}</td>
</tr>
<tr>
  <td>BootTime</td>
  <td>{{ detail.get('vim.vm.Summary').get('runtime').get('bootTime') }}</td>
</tr>
<tr>
  <td>Max CPU Usage</td>
  <td>{{ detail.get('vim.vm.Summary').get('runtime').get('maxCpuUsage') }}</td>
</tr>
<tr>
  <td>VM Name</td>
  <td>{{ detail.get('vim.vm.Summary').get('config').get('name') }}</td>
</tr>
<tr>
  <td>VM Path</td>
  <td>{{ detail.get('vim.vm.Summary').get('config').get('vmPathName') }}</td>
</tr>
<tr>
  <td>VM Num of CPU</td>
  <td>{{ detail.get('vim.vm.Summary').get('config').get('numCpu') }}</td>
</tr>
<tr>
  <td>VM Memory Size</td>
  <td>{{ detail.get('vim.vm.Summary').get('config').get('memorySizeMB') }}</td>
</tr>
<tr>
  <td>VM Num of Ethernet Cards</td>
  <td>{{ detail.get('vim.vm.Summary').get('config').get('numEthernetCards') }}</td>
</tr>
<tr>
  <td>VM Num of Virtual Disks</td>
  <td>{{ detail.get('vim.vm.Summary').get('config').get('numVirtualDisks') }}</td>
</tr>
<tr>
  <td>Annotation</td>
  <td>{{ detail.get('vim.vm.Summary').get('config').get('annotation') }}</td>
</tr>
<tr>
  <td>VM Guest Name</td>
  <td>{{ detail.get('vim.vm.Summary').get('config').get('guestFullName') }}</td>
</tr>
</table>

<script>
let setPower = function() {
  const url = '/power/{{ uniq_id }}';
  const powerState = document.getElementById('power_state').value;
  const payload = {'state': powerState};
  
  fetch(url, {
    method: 'POST',
    body: JSON.stringify(payload), // data can be `string` or {object}!
    headers:{
      'Content-Type': 'application/json'
    }
  }).then(res => res.json())
    .then(response => {
      console.log('Success:', JSON.stringify(response));
      document.getElementById('message').innerHTML = 'Success: ' + response['detail'];
      document.getElementById('current_power').innerHTML = powerState.toUpperCase();
    })
    .catch(error => {
      console.error('Error:', error)
      document.getElementById('message').innerHTML = error;
    });
}

let commitButton = document.getElementById('commit');
commitButton.addEventListener("click", setPower, false);
</script>
{% include "_footer.html" %}
