{% include "_header.html" %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Power</th>
      <th>ESXi Node</th>
      <th>VM ID</th>
      <th>Name</th>
      <th>Guest OS</th>
      <th>IP Address</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    {% for machine in machines %}
    <tr>
      <td>
        {% if machine.power | upper() == "ON" %}
        <span class="label label-success">{{ machine.power | upper() }}</span>
        {% elif machine.power | upper() == "OFF" %}
        <span class="label label-error">{{ machine.power | upper() }}</span>
        {% else %}
        <span class="label label-warning">{{ machine.power | upper() }}</span>
        {% endif %}
      </td>
      <td>{{ machine.esxi_node_name }}</td>
      <td>{{ machine.id }}</a></td>
      <td><a href="/machine/{{ machine.uniq_id }}">{{ machine.name }}</a></td>
      <td>{{ machine.guest_os }}</td>
      <td>{{ machine.ipaddr }}</td>
      <td>{{ machine.comment }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <table>
    {% include "_footer.html" %}