{% include "_header.html" %}
  <table border=1>
    <thead>
      <tr>
        <th>Power</th>
	<th>Uniq ID</th>
        <th>Name</th>
        <th>Datastore</th>
        <th>Guest OS</th>
        <th>Comment</th>
	<th>Author</th>
	<th>Created At</th>
	<th>Tags</th>
      </tr>
    </thead>
    <tbody>
    {% for machine in machines %}
      <tr>
        <td>{{ machine.power | upper() }}</td>
        <td><a href="https://{{ machine.esxi_addr }}/ui/#/host/vms/{{ machine.id }}" target="_blank">{{ machine.uniq_id }}</a></td>
        <td><a href="/machine/{{ machine.uniq_id }}">{{ machine.name }}</a></td>
        <td>{{ machine.datastore }}</td>
        <td>{{ machine.guest_os }}</td>
        <td>{{ machine.comment }}</td>
        <td>{{ machine.memo.author | default('') }}</td>
        <td>{{ machine.memo.created_at | default('') }}</td>
        <td>{{ ', '.join(machine.memo.tag) | default('') }}</td>
      </tr>
    {% endfor %}
    </tbody>
  <table>
{% include "_footer.html" %}
