{% include "_header.html" %}

<main>
  <form class="form-horizontal" id="form-container">
    <b>Spec Guide</b>

    <div class="btn-group btn-group-block">
      <button type="button" class="btn" id="microButton">Micro Machine</button>
      <button type="button" class="btn" id="smallButton">Small Machine</button>
      <button type="button" class="btn" id="mediumButton">Medium Machine</button>
      <button type="button" class="btn" id="largeButton">Large Machine</button>
    </div>

    <br>

    <div class="form-group">
      <div class="col-3 col-sm-12">
        <label class="form-label" for="name">Name</label>
      </div>
      <div class="col-9 col-sm-12">
        <input class="form-input" type="text" id="name" placeholder="koyama-http">
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-sm-12">
        <label class="form-label" for="cpu_cores">Num of CPU</label>
      </div>
      <div class="col-9 col-sm-12">
        <input class="form-input" type="number" id="cpu_cores" placeholder="1" min="1" max="4" value="1">
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-sm-12">
        <label class="form-label" for="ram_mb">Memory Size</label>
      </div>
      <div class="col-9 col-sm-12">
        <select id="ram_mb" class="form-select">
          <option value='512'>500MB</option>
          <option value='1024'>1GB</option>
          <option value='2048'>2GB</option>
          <option value='4096'>4GB</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-sm-12">
        <label class="form-label" for="storage_gb">Storage Size</label>
      </div>
      <div class="col-9 col-sm-12">
        <select id="storage_gb" class="form-select">
          <option value='30'>30GB</option>
          <option value='50'>50GB</option>
          <option value='70'>70GB</option>
          <option value='100'>100GB</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-sm-12">
        <label class="form-label" for="esxi_nodename">ESXi Node</label>
      </div>
      <div class="col-9 col-sm-12">
        <select id="esxi_nodename" class="form-select">
          {% for nodename in esxi_nodes %}
          <option value="{{ nodename }}">{{ nodename }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-sm-12">
        <label class="form-label" for="comment">Memo</label>
      </div>
      <div class="col-9 col-sm-12">
        <input id="comment" class="form-input" type="text"
          placeholder="My experimental machine for performance evaluation">
      </div>
    </div>

    <div class="toast" id="msgbox">
      <button type="button" id="close" class="btn btn-clear float-right"></button>
      <p id="status"></p>
    </div>

    <div class="form-group">
      <button type="button" id="commit" class="btn btn-primary">Create</button>
    </div>
  </form>
</main>

<style>
  #form-container {
    max-width: 600px;
  }

  #msgbox {
    display: none;
    margin-bottom: .4rem;
  }
</style>

<script src="/static/create.js"></script>

{% include "_footer.html" %}
