{% include "_header.html" %}

<main>
  <section>
    <fieldset>
      <a href="https://{{ machine.esxi_node_address }}/ui/#/host/vms/{{ machine.id }}" target="_blank">
        <button class="btn btn-primary">ESXi Console &#x2197;</button>
      </a>
    </fieldset>
    <fieldset>
      <div class="btn-group btn-group-block">
        <button class="btn btn-success power-action" name="on">Power ON</button>
        <button class="btn btn-error power-action" name="shutdown">Shutdown</button>
        <button class="btn power-action" name="suspend">Suspend</button>
        <button class="btn power-action" name="reboot">Reboot</button>
        <button class="btn power-action" name="off">Force Power OFF</button>
      </div>
    </fieldset>
  </section>

  <section>
    <div id="top-message-box" class="toast toast-primary">
      <button id="close-top-message-box" class="btn btn-clear float-right"></button>
      <p id="top-message"></p>
    </div>
  </section>

  <section>
    <ul class="tab">
      <li class="tab-item">
        <a href="#" name="machine-overview" class="menu-item active">Machine Overview</a>
      </li>
      <li class="tab-item">
        <a href="#" name="hardware-spec" class="menu-item">Hardware Spec</a>
      </li>
      <li class="tab-item">
        <a href="#" name="hardware-metrics" class="menu-item">Hardware Metrics</a>
      </li>
    </ul>
  </section>

  <section name="machine-overview" class="sub-page">
    <table class="table">
      <tr>
        <td>VM Name</td>
        <td><b>{{ machine.name }}</b></td>
      </tr>
      <tr>
	<td>Comment</td>
	<td>{{ machine.comment }}</td>
      </tr>
      <tr>
        <td>Power Status</td>
        <td>
	  {% if machine.power | upper == "ON" %}
	    <span class="label label-success">ON</span>
	  {% elif machine.power | upper == "OFF" %}
	    <span class="label label-error">OFF</span>
          {% else %}
            <span class="label label-warning">{{ machine.power | upper() }}</span>
	  {% endif %}
	</td>
      </tr>
      <tr>
        <td>IP Address</td>
        <td>
          {{ machine.ip_address }} <br>

          {% if machine.ip_address != "" %}
          <details>
            <summary>SSH Command</summary>
            <code>ssh USERNAME@{{ machine.ip_address }}</code>
          </details>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>ESXi Node</td>
        <td>{{ machine.esxi_node_name }} ({{ machine.esxi_node_address }})</td>
      </tr>

      <tr>
        <td>VMware Tools Status</td>
	{% if machine.tools_status == "toolsOk" %}
	  <td>&#x2705; OK</td>
	{% elif machine.tools_status == "toolsNotRunning" %} 
          <td>&#x274c; Not Running</td>
        {% else %}
          <td>{{ machine.tools_status }}</td>
	{% endif %}
      </tr>
      <tr>
        <td>VM Health Status</td>
	{% if machine.overall_status == "green" %}
          <td>&#x1f7e2; Green</td>
	{% elif machine.overall_status == "yellow" %}
          <td>&#x1f7e1; Yellow</td>
	{% elif machine.overall_status == "red" %}
          <td>&#x1f534; Red</td>
	{% else %}
          <td>&#x26ab; {{ machine.overall_status }}</td>
	{% endif %}
      </tr>
      <tr>
        <td>BootTime</td>
        <td>{{ machine.boot_time }}</td>
      </tr>
      <tr>
        <td>Uptime</td>
        <td>
          {% if machine.uptime_seconds is none %}
          -
          {% else %}
          {{ machine.uptime_seconds // 86400 }}d
          {{ machine.uptime_seconds % 86400 // 3600}}h
          {{ machine.uptime_seconds % 86400 % 3600 // 60 }}m
          {% endif %}
        </td>
      </tr>
    </table>
  </section>

  <section name="hardware-spec" class="sub-page invisible">
    <table class="table">
      <tr>
        <td>CPU</td>
        <td>{{ machine.num_cpu }} [Core]</td>
      </tr>
      <tr>
        <td>RAM</td>
        <td>{{ machine.memory_size_mb // 1000 }} [GB]</td>
      </tr>
      <tr>
        <td>Storage</td>
        <td>{{ machine.storage_commited // (1000 ** 3) }} [GB]</td>
      </tr>
      <tr>
        <td>Num of Ethernet Cards</td>
        <td>{{ machine.num_ethernet_cards }}</td>
      </tr>
      <tr>
        <td>Num of Virtual Disks</td>
        <td>{{ machine.num_virtual_disks }}</td>
      </tr>
      <tr>
        <td>Guest OS Fullname</td>
        <td>{{ machine.guest_fullname }}</td>
      </tr>
      <tr>
        <td>Datastore</td>
        <td>{{ machine.datastore }}</td>
      </tr>
      <tr>
        <td>Datastore Path</td>
        <td>{{ machine.datastore_path }}</td>
      </tr>
    </table>
  </section>

  <section name="hardware-metrics" class="sub-page invisible">
    <table class="table">
      {% if machine.guest_memory_usage is not none %}
      <tr>
        <td>RAM Usage</td>
        <td>{{ machine.guest_memory_usage / machine.memory_size_mb * 100 // 1 }} [%]</td>
      </tr>
      {% endif %}
      {% if machine.overall_cpu_usage is not none %}
      <tr>
        <td>CPU Usage</td>
        <td>{{ machine.overall_cpu_usage / machine.num_cpu // 1 }} [%]</td>
      </tr>
      {% endif %}
    </table>
  </section>

</main>

<style>
  main fieldset {
    margin: 0 2rem 0 0;
    display: inline-block;
  }

  main section {
    margin: 0rem 0 1rem;
  }

  main table th,
  main table td {
    vertical-align: top;
  }

  main .table {
    max-width: 600px;
  }

  #top-message-box {
    display: none;
  }

  .invisible {
    display: none;
  }
</style>

<script>
// Set power status
let setPower = (powerState) => {
  const url = '/v1/machine/{{ machine.esxi_node_name }}/{{ machine.id }}/power';
  const payload = { 'status': powerState };

  fetch(url, {
    method: 'PUT',
    body: JSON.stringify(payload), // data can be `string` or {object}!
    headers: {
      'Content-Type': 'application/json'
    }
  }).then(response => {
    const topMessage = document.getElementById('top-message');

    if (!response.ok) {
      // error
      response.json().then(function (result) {
        console.log("Failed", result.detail);
        topMessage.innerText = 'Failed: ' + result.detail;
      });

      const topMessageBox = document.getElementById("top-message-box");
      topMessageBox.classList.add("toast-error");
      topMessageBox.style.display = "block";
    } else {
      // success
      response.json().then(function (result) {
        console.log('Success:', result.request_status);
        topMessage.innerText = 'Success: ' + result.request_status;
      });

      const topMessageBox = document.getElementById("top-message-box");
      topMessageBox.classList.add("toast-success");
      topMessageBox.style.display = "block";
    }
  })
  .catch(error => {
    console.error('Error:', error);
    const topMessage = document.getElementById('top-message');
    topMessage.innerText = error;

    const topMessageBox = document.getElementById("top-message-box");
    topMessageBox.classList.add("toast-error");
    topMessageBox.style.display = "block";
  });
};
</script>
<script src="/static/detail.js"></script>

{% include "_footer.html" %}
