{% include "_header.html" %}

<main>
  <table id="machines" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Power▼</th>
        <th>ESXi Node▼</th>
        <th>VM ID▼</th>
        <th>Name▼</th>
        <th>IP Address▼</th>
        <th>Uptime▼</th>
        <th>CPU▼</th>
        <th>RAM▼</th>
        <th>Storage▼</th>
        <th>Comment▼</th>
      </tr>
    </thead>
    <tbody>
      {% for machine in machines %}
      <tr>
        <td>
          {% if machine.power | upper() == "ON" %}
          <span class="label label-success">{{ machine.power | upper() }}</span>
          {% elif machine.power | upper() == "OFF" %}
          <span class="label label-error">{{ machine.power | upper() }}</span>
          {% else %}
          <span class="label label-warning">{{ machine.power | upper() }}</span>
          {% endif %}
        </td>
        <td>{{ machine.esxi_node_name }}</td>
        <td>{{ machine.id }}</a></td>
        <td><a href="/machine/{{ machine.esxi_node_name }}/{{ machine.id }}">{{ machine.name }}</a></td>
        <td>
          {% if machine.ip_address %}
          {{ machine.ip_address }}
          {% else %}
          -
          {% endif %}
        <td>
          {% if machine.uptime_seconds is none %}
          -
          {% else %}
          {{ machine.uptime_seconds // 86400 }}d
          {{ machine.uptime_seconds % 86400 // 3600}}h
          {{ machine.uptime_seconds % 86400 % 3600 // 60 }}m
          {% endif %}
        </td>
        <td>
          {% if machine.num_cpu >= threshold.cpu %}
          <mark>{{ machine.num_cpu }} [Core]</mark>
          {% else %}
          {{ machine.num_cpu }} [Core]
          {% endif %}
        </td>
        <td>
          {% if machine.memory_size_mb >= threshold.ram_mb %}
          <mark>{{ machine.memory_size_mb // 1000 }} [GB]</mark>
          {% else %}
          {{ machine.memory_size_mb // 1000 }} [GB]
          {% endif %}
        </td>
        <td>
          {% if machine.storage_commited // (1000 ** 3) > threshold.storage_gb %}
          <mark>{{ machine.storage_commited // (1000 ** 3) }} [GB]</mark>
          {% else %}
          {{ machine.storage_commited // (1000 ** 3) }} [GB]
          {% endif %}
        </td>
        <td>{{ machine.comment }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
<script>
  $(function () {
    $("#machines").tablesorter();
  });
</script>

{% include "_footer.html" %}